# SPDX-FileCopyrightText: Florian Wilhelm
# SPDX-License-Identifier: MIT

# Vendored third-party roles, see the licence section of README.adoc.
# They are upstream copies and are not ours to reformat.
vendor/
