---
  - name: Create `~/code` Directory
    file:
      path: ~/code
      state: directory
      mode: "755"

  - name: Create `~/temp` Directory
    file:
      path: ~/temp
      state: directory
      mode: "755"

  - name: Create `~/no_backup` Directory
    file:
      path: ~/no_backup
      state: directory
      mode: "755"