---

  - name: Upgrade all Packages
    become: yes
    become_user: root
    apt:
      upgrade: dist
    when: ansible_os_family == 'Debian'

  - name: Install Basic Packages
    become: yes
    become_user: root
    apt:
      state: latest
      pkg:
        - apg
        - asciidoctor
        - autojump
        - backblaze-b2
        - curl
        - direnv
        - git
        - htop
        - httpie
        - iotop
        - jq
        - make
        - mc
        - pandoc
        - rdiff-backup
        - silversearcher-ag
        - texlive-latex-recommended
        - tree
        - unzip
        - vim
        - zsh
    when: ansible_os_family == 'Debian'
