---

  - name: Upgrade all Packages
    become: yes
    become_user: root
    apt:
      upgrade: dist
    when: ansible_os_family == 'Debian'

  - name: Install Basic Packages
    become: yes
    become_user: root
    apt:
      state: latest
      name: ['vim', 'zsh', 'htop', 'mc', 'rdiff-backup', 'curl', 'tree', 'autojump', 'unzip', 'jq', 'silversearcher-ag', 'pandoc', 'texlive-latex-recommended', 'asciidoctor', 'apg', 'httpie', 'iotop', 'make', 'direnv', 'backblaze-b2']
    when: ansible_os_family == 'Debian'
