name: CI

on: [push, workflow_dispatch]

jobs:
  run-in-container-deb:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        version: [latest, rolling, devel]
    steps:
    - uses: actions/checkout@v1
    - run: docker build --build-arg=VERSION=${{ matrix.version }} -t system-automation-test-ubuntu${{ matrix.version }} --file test/container/Containerfile.ubuntu
    - run: docker run --tty --volume $PWD:/mnt system-automation-test-ubuntu${{ matrix.version }}

  run-in-container-yum:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        version: [latest, rawhide]
    steps:
    - uses: actions/checkout@v1
    - run: docker build --build-arg=VERSION=${{ matrix.version }} -t system-automation-test-fedora${{ matrix.version }} --file test/container/Containerfile.fedora
    - run: docker run --tty --volume $PWD:/mnt system-automation-test-fedora${{ matrix.version }}
